/node_modules
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/bootstrap/cache/*.php
/storage/logs/*.log
/storage/framework/sessions/*
/storage/framework/cache/*
/storage/framework/views/*
